# OCLC Discovery API Credentials
OCLC_KEY=your_oclc_key
OCLC_SECRET=your_oclc_secret
OCLC_BASE_URL=https://discovery.api.oclc.org/worldcat-org-ci
KB_BASE_URL=https://worldcat.org/webservices/kb/rest/entries/search
WORLDCAT_KB_KEY=your_kb_key #no secret required for read-only access

# Search configuration
RESTRICT_TO_LIBRARY=false
DEFAULT_LIBRARY=your_oclc_symbol

# Storage credentials (Infobase MARC retrieval - Optional)
FTP_USER=your_username
FTP_PASSWORD=your_password
